transformers
streamlit-chat
huggingface-hub
torch
tqdm
streamlit-extras
hugchat
directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
