directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
beautifulsoup4
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
